//
// Flex Grid system
// --------------------------------------------------


// Base Grid Styles
// --------------------------------------------------

.shell,
.shell-wide,
.shell-fluid{
  @include make-shell(30px);
  @media (min-width: $screen-xl-min) {
    @include make-shell($cell-spacing);
  }
}




.shell,
.shell-wide{
  min-width: $shell-width;
  max-width: $shell-xs-width;

  @media (min-width: $screen-sm-min) {
    max-width: $shell-sm-width;
  }

  @media (min-width: $screen-md-min) {
    max-width: $shell-md-width;
  }

  @media (min-width: $screen-lg-min) {
    max-width: $shell-lg-width;
  }

  @media (min-width: $screen-xl-min) {
    max-width: $shell-xl-width;
  }
}

.shell-wide {
  @media (min-width: $screen-xl-min) {
    max-width: $shell-xl-width;
  }
}

.container-fluid{
  width: 100%;
  max-width: none;
  @media (min-width: $screen-lg-min) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: $screen-xl-min) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.row {
  @include make-range(30px);
  @media (min-width: $screen-xl-min) {
    @include make-range($cell-spacing);
  }
  > .row{
    margin-left: 0;
    margin-right: 0;
  }
}

.row-spacer{
  @include flex-basis(100%);
}

[class*='col-'] {
  @include make-cell-spacing(30px);
  @media (min-width: $screen-xl-min) {
    @include make-cell-spacing($cell-spacing);
  }
}

// Create IE 9 and below degradation styles
html.lt-ie-10 * + .row,
* + .row {
  margin-top: $range-ws;
}

html.lt-ie-10 * + [class*='col-'],
* + [class*='col-'],
html.lt-ie-10 * + .row-sm,
* + .row-sm {
  margin-top: 35px;
  @media (min-width: $screen-md-min) {
    margin-top: $range-ws-sm;
  }
}

html.lt-ie-10 * + .row-lg,
* + .row-lg {
  margin-top: $range-ws;
  @media (min-width: $screen-lg-min) {
    margin-top: $range-ws-lg;
  }
}

html.lt-ie-10 .row-condensed,
.row-condensed {
  margin-left: 0;
  margin-right: 0;

  > [class*='col'] {
    padding-left: 0;
    padding-right: 0;
  }

  > *  + [class*='col'] {
    margin-top: 0;
  }
}

html.lt-ie-10 .row-narrow,
.row-narrow {
  @include make-range($cell-spacing-narrow);

  > [class*='col'] {
    @include make-cell-spacing($cell-spacing-narrow);
  }

  > *  + [class*='col'] {
    @include make-cell-spacing($cell-spacing-narrow);
  }
}


// Flex Grid Styles
// --------------------------------------------------
//
@media (min-width: $screen-xs-min) {
  .row {
    @include display-flex();
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    > .row{
      @include flex-basis(100%);
    }
  }

  .row-vertical{
    @include flex-direction(column);
  }

  .row > [class*='col'] {
    //@include flex(0 0 auto);
    //@include flex-basis(100%);
  }
}

@each $resolution, $alias in (0px : xs, 576px : sm, 768px : md, 992px : lg, 1200px : xl, 1485px: xxl, 1800px: mxxl) {
  @media (min-width: $resolution) {
    * + [class*='col-#{$alias}-'] {
      margin-top: 0;
    }

    // @include make-grid-system($alias, $cell-count);
  }
}

html.lt-ie-10 {
  .row > {
    //@include make-fallback($cell-count);
  }
}