// Custom Mixins
// --------------------------------------------------

// Utilities
@import "mixins/_functions";
@import "mixins/_flex";
@import "mixins/_vendors-custom";
@import "mixins/_text-utilities";
@import "mixins/_pull-utilities";
@import "mixins/_visibility-utilities";
@import "mixins/_backgrounds";
@import "mixins/_indent-utilities";
@import "mixins/_unit-utilities";
@import "mixins/_element-groups";
@import "mixins/_buttons";
@import "mixins/_forms-custom";
@import "mixins/_link";

// Grid Framework
@import "mixins/_flex-grid-framework";

@mixin responsive-offset($offset) {
  position: relative;
  @include transform(translateY(-$offset));
  margin-bottom: -$offset;

  &:before {
    content: '';
    display: table;
  }

  > * {
    margin-top: $offset;

    &:before {
      content: '';
      display: table;
    }
  }
}

@mixin responsive-offset-media($offset) {
  @include transform(translateY(-$offset));
  margin-bottom: -$offset;

  > * {
    margin-top: $offset;
  }
}

@mixin section-shadow() {
  -webkit-box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow:    0 0 23px 0 rgba(0, 0, 0, 0.26);
  box-shadow:         0 0 23px 0 rgba(0, 0, 0, 0.26);
}
